<div ng-controller="myController" class="wrap">
    <div class="header">
        <h1 class="title">
            <a href="#/server" class="bg">服务</a>
            <a href="#/serverprice">金融</a>
        </h1>
        <p><i class="icon iconfont icon-fangdajing"></i></p>
    </div>
    <shopping></shopping>
    <div class="footer">
        <a href="">
            <i class="icon iconfont icon-shouye"></i>
            首页
        </a>
        <a href="">
            <i class="icon iconfont icon-shoucang"></i>
            论坛
        </a>
        <a href="">
            <i class="icon iconfont icon-weixin"></i>
            选车
        </a>
        <a href="" class="active">
            <i class="icon iconfont icon-gouwuche"></i>
            发现
        </a>
        <a href="">
            <i class="icon iconfont icon-wode"></i>
            未登录
        </a>
    </div>
</div>